.carousel_ {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 1px;
    justify-content: center;
  }

  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 16px;
    background-color: #ffffff00;
    border: none;
    color: black;
    cursor: pointer;
  }

  .carousel__prev {
    left: 10px;
  }

  .carousel__next {
    right: 10px;
  }

 img {
    max-width: 350px;
    height: 200px;
    text-align: center;
  }
