.footer-container{
    display: flex;
    align-self: self-end;
    width: 100%;
    top: 96%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
}

.footer-button{
    max-width: 50px;
    max-height: 50px;
    border-width: 0px;
    background-color: rgba(255, 255, 255, 0);
}

p{
    font-size: 8px;
    padding: 0px;
    margin: 0px;
}

